body {
  background-color: #0a4b73;
  height: 2000px;
}

#cabecalho {
  background-color: #2298e1;
  height: 200px;
  margin-top: 20px;
}

#logos{
  background-color: white;
  width: 20px;
  height: 200px;
  margin-left: 20px;
  align-items: center;
}

#item-menu {
  background-color: white;
  width: 550px;
  height: 70px;
  margin-right: 20px;
  margin-top: 10px;
  list-style: none;
  float: right;
  text-align: center;
  font-size: 30px;
  margin-left: 10px;
}

li {
  display: inline-block;
  padding: 10px;
  margin-left: 15px;
}

li:hover {
  background-color: #3bacd9;
  color: white;
  font-weight: 500;
  border-radius: 20px;
  cursor: pointer;
}
