body {
  background-color: cadetblue;
  text-align: center;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
}

.icones {
  font-size: 100px;
  color: yellow;
}

#primaria {
  width: 90%;
  margin: auto;
  height: 800px;
  background-color: blue;
  background-image: linear-gradient(green,yellow ,blue, white);
  background-image: radial-gradient(red,white,black);
}

#secundaria{
  width: 90%;
  margin: auto;
  height: 800px;
  background-color: saddlebrown;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTYOaz82iiBeEQHJuz1dzygiJFOovGVlFXo9A&s);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}