* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: aquamarine;
  height: 2000px;
}

header {
  position: sticky;
  top: 0px;
}

#navegacao {
  background-color: cadetblue;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  color: whitesmoke;
  padding: 15px;
  font-size: 30px;
  overflow: hidden;
}

#simbolo {
  font-size: 60px;
}

#item-menu {
  list-style: none;
  float: right;
  margin-top: 15px;
}

li {
  display: inline-block;
  padding: 10px;
  margin-left: 15px;
}

li:hover {
  background-color: whitesmoke;
  color: black;
  font-weight: 500;
  border-radius: 20px;
  cursor: pointer;
}

#logo {
  float: left;
  margin-right: 20px;
}

main {
  background-color: darkgray;
  height: 1800px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  color: whitesmoke;
  font-size: 30px;
}

#bloco {
  background-color: chocolate;
  color: black;
  height: 200px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: block;
  line-height: 200px;
}

#linha-bloco {
  background-color: greenyellow;
  margin-top: 10px;
  text-align: center;
  color: black;
  font-weight: bold;
  padding: 10px;
}

.mini-bloco {
  background-color: violet;
  width: 30%;
  margin-top: 5px;
  display: inline-block;
  height: 200px;
  line-height: 200px;
}

#linha {
  background-color: teal;
  padding: 10px;
  text-align: center;
  margin-top: 10px;
  color: black;
  height: 200px;
  line-height: 200px;
}

.mini-linha {
  background-color: darkkhaki;
  width: 50%;
  height: 200px;
  margin-top: 5px;
  display: inline;
}

#flex {
  background-color: darkmagenta;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  padding: 20px;
  margin-top: 10px;
}

.mini-flex {
  background-color: sandybrown;
  width: 400px;
  height: 400px;
  text-align: center;
  line-height: 400px;
}

footer {
  width: 80%;
  height: 200px;
  background-color: black;
  margin-left: auto;
  margin-right: auto;
  color: white;
  padding: 15px;
  display: grid;
  grid-template: 1fr/1fr 1fr 1fr;
  font-size: 30px;
  justify-items: center;
  align-items: center;
}

/* VERSÂO TABLET  */
@media screen and (max-width: 1200px) {
  #navegacao {
    background-color: bisque;
    width: 90%;
    padding: 5px;
    font-size: 25px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    line-height: 200px;
  }

  #logo {
    float: none;
    text-align: center;
    font-size: 30px;
  }

  #item-menu {
    float: none;
    text-align: center;
    font-size: 30px;
    margin-left: 10px;
  }
}

/* VERSÂO MOBILE  */
@media screen and (max-width: 500px) {
  #navegacao {
    background-color: cornflowerblue;
    width: 100%;
  }

  #logo {
    font-size: 50px;
  }

  #simbolo {
    font-size: 80px;
    display: block;
  }

  li {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}
