body {
  background-color: coral;
  text-align: center;
  color: white;
  font-size: 60px;
}

#bloco {
  background-color: aqua;
}

.quad {
  width: 200px;
  height: 200px;
  line-height: 200px;
  /* display: inline-block; */
  /* display: inline; */
}

#quad1 {
  background-color: bisque;
}

#quad2 {
  background-color: tomato;
}

#quad3 {
  background-color: aquamarine;
}

#linha-bloco {
  background-color: beige;
}

#linha {
  background-color: black;
}

#grid {
  background-color: darkblue;
  min-height: 100%;
  min-width: 100%;
  height: 900px;
  display: grid;
  /* grid-template-rows: 200px 500px 100px; */
  /* grid-template-columns: 30% 65%; */
  grid-template: 1fr 1fr / 1fr 1fr 1fr;
  grid-gap: 10px;
  justify-items: center; /* start center end  */
  align-items: center; /* left center right  */
}

.item {
  border: 1px solid black;
  text-align: center;
  font-size: 20px;
  font-weight: bolder;
}

#grid2 {
  display: grid;
  background-color: antiquewhite;
  grid-template-rows: 200px 500px 100px;
  grid-template-columns: 30% 65%;
  grid-template-areas:
    "cabecalho cabecalho cabecalho"
    "lateral principal principal"
    "rodape rodape rodape";
  grid-gap: 10px;
}

#cabecalho {
  grid-area: cabecalho;
  background-color: cadetblue;
}

#lateral {
  grid-area: lateral;
  background-color: thistle;
}

#principal {
  grid-area: principal;
  background-color: steelblue;
}

#rodape {
  grid-area: rodape;
  background-color: silver;
}

#flex {
  background-color: greenyellow;
  height: 700px;
  min-width: 100%;
  gap: 10px;
  display: flex;
  /* flex-wrap: wrap;
  flex-direction: column-reverse; */
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  /* align-content: center; */
}

#quad1{
  flex-shrink: 0; 
}

#quad2{
    flex-grow: 1;
}