body {
  background-color: burlywood;
  height: 2000px;
}

.pai {
  width: 200px;
  height: 200px;
}

.filho {
  width: 50px;
  height: 50px;
}

#p-estatico {
  background-color: aqua;
  position: static;
}

#f-estatico {
  background-color: yellow;
  position: static;
}

#p-fixo {
  background-color: violet;
  position: fixed;
}

#f-fixo {
  background-color: cadetblue;
}

#p-grudado{
   background-color: beige;
   position: sticky;
   width: 1000px;
   height: 1000px;
}

#p-grudado{
   background-color: purple;
   position: sticky;
   width: 50%;
   height: 50%;
}

#p-relativo{
   background-color: rgb(2, 252, 210);
}

#f-relativo{
   background-color: rgb(187, 207, 73);
   position: relative;
   top: 30px;
   left: 60px;
}

#p-absoluto{
  background-color: chartreuse;
  position: absolute;
  
}

#f-absuluto{
  background-color: rgb(241, 159, 91);
  position: absolute;
  top: 600px;
}

#p-absoluto-relaivo{
  background-color: rgb(175, 168, 61);
  position: relative;
  top: 50px;
}

#f-absoluto-com-pai{
  background-color: rgb(234, 149, 255);
  position: absolute;
  top: 2%;
}


